ExcelConsoleApplication/Service References/ExcelExportStateServiceReference/ExcelExportStateService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ExcelServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExcelServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ExcelExportStateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ExportParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExportState" type="tns:ExportState" />
      <xs:element minOccurs="0" name="FolderRootPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="JsonSettingData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateFileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportParam" nillable="true" type="tns:ExportParam" />
  <xs:simpleType name="ExportState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Wait" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExportState" nillable="true" type="tns:ExportState" />
</xs:schema>