UnitTest/Service References/ExcelExportStateServiceReference/ExcelExportStateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ExcelExportStateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExcelServiceLibrary" />
  <xs:import schemaLocation="http://localhost:8080/ExcelExportStateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SetStateCacheName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStateCacheNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateCacheName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateCacheNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStateCacheNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeoutCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_minute" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeoutCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExcelServiceLibrary" minOccurs="0" name="_state" nillable="true" type="q1:ExportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeExportState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_guid" type="q2:guid" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExcelServiceLibrary" minOccurs="0" name="_exportState" type="q3:ExportState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeExportStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_guid" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExcelServiceLibrary" minOccurs="0" name="GetSessionDataResult" nillable="true" type="q5:ExportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSessionDataStateCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_guid" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSessionDataStateCompletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSessionDataStateCompletedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ExcelServiceLibrary" minOccurs="0" name="PopResult" nillable="true" type="q7:ExportParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewGuid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="NewGuidResult" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>